@model Item
@{
}
<div class="container container-fluid justify-content-lg-center justify-content-center justify-content-md-center justify-content-sm-center">
    <div class="text-center text-decoration-none">
        <h3>@Model.Name</h3>
        <img class="img-fluid" src="@Model.ImageURL"/>
        <h4>Cost:</h4>
        <h5>@Model.Cost.Platinum</h5>
        <h5>@Model.Cost.Gold</h5>
        <h5>@Model.Cost.Electrum</h5>
        <h5>@Model.Cost.Silver</h5>
        <h5>@Model.Cost.Copper</h5>
        <a href="@Model.DescriptionURL" class="text-decoration-none">Item Display</a>
    </div>
</div>