@model Item
@{
}
<div class="container container-fluid justify-content-lg-center justify-content-center justify-content-md-center justify-content-sm-center jumbotron">
    <div class="text-center text-body text-secondary">
        <h3>@Model.Name</h3>
        <img class="img-fluid" src="@Model.ImageURL" />
        @if (Model.GetType() == typeof(Equipment))
        {
            Equipment e = (Equipment)Model;
            <h4>Modifier: @e.Modifier</h4>
        }
        @if (Model.GetType() == typeof(Armor))
        {
            Armor a = (Armor)Model;
            <h4>AC Modifier: @a.ACMod</h4>
        }
        @if (Model.GetType() == typeof(Weapon))
        {
            Weapon w = (Weapon)Model;
            <h4>Damage Modifier: @w.DamageMod</h4>
        }
        @if (Model.GetType() == typeof(Tool))
        {
            Tool t = (Tool)Model;
            <h4>Components:</h4>
            foreach (var component in t.Components)
            { 
                <h5>@component.Name</h5>
            }
        }
        <h4>Cost:</h4>
        <h5>PP: @Model.Cost.Platinum</h5>
        <h5>GP: @Model.Cost.Gold</h5>
        <h5>EP: @Model.Cost.Electrum</h5>
        <h5>SP: @Model.Cost.Silver</h5>
        <h5>CP: @Model.Cost.Copper</h5>
        <a href="@Model.DescriptionURL" class="text-decoration-none">Item Discription</a>
        <form asp-controller="Item" asp-action="DeleteItem">
            <input asp-for="Id" value="@Model.Id" hidden/>
            <button type="submit">DELETE</button>
        </form>
    </div>
</div>