@model Spell
@{
    ViewData["Title"] = "SpellPartialView";
}

<h2>Spell partial view</h2>
<h2>@Model.spellName</h2>
@if (Model.spellLevel == 0)
{
    <h2>Cantrip</h2>
}
else
{
    <h2>Spell Level: @Model.spellLevel</h2>
}
<h3>School: @Model.spellSchool</h3>
<h3>Casting Time: @Model.spellCast</h3>
<h3>Range: @Model.spellRange</h3>
<h3>Duration: @Model.spellDuration</h3>
<h3>Components: @Model.spellComponent</h3>
<h3>Spell acuired by: @Model.aquiredClasses</h3>
<h4>@Model.spellDescription</h4>