@model CreatureInitPage

@{ 
    if(Model.creature.Key == Model.currentCreature)
    { 
        <div class="jumbotron container text-dark box-shadow current-Init">
            <h1>@Model.creature.Key.Name</h1>
            <h2>@Model.creature.Key.Race</h2>
            @if (Model.creature.Key.GetType() == typeof(StatBlock))
            { 
                <h3>@(((StatBlock)(Model.creature.Key)).CR.ToString())</h3>
            }else
            {
                <h3>@(((PlayerCharacter)(Model.creature.Key)).Level)</h3>
            }
            <h3>Initiative: @Model.creature.Value</h3>
        </div>
    }
    else
    { 
        <div class="jumbotron container text-dark box-shadow style-Boi">
            <h1>@Model.creature.Key.Name</h1>
            <h2>@Model.creature.Key.Race</h2>
            @if (Model.creature.Key.GetType() == typeof(StatBlock))
            { 
                <h3>@(((StatBlock)(Model.creature.Key)).CR.ToString())</h3>
            }else
            {
                <h3>@(((PlayerCharacter)(Model.creature.Key)).Level)</h3>
            }
            <h3>Initiative: @Model.creature.Value</h3>
        </div>
    }
}