@model EncounterPage
@{
    ViewData["Title"] = "Encounter";
}

@functions{

}

<div class="container">
    <h1>Encounter</h1>
    <h2>@Model.encounter.encounterName</h2>
    <div class="row">
        @foreach (Creature creature in Model.encounter.Creatures)
        {
            <div class="col-4">
                @if (creature.GetType() == typeof(PlayerCharacter))
                {
                    <partial name="/Views/PlayerCharacter/_CharacterPartialView.cshtml" for="@creature" />
                    <br />
                    <br />
                }
                else
                {
                    <partial name="/Views/StatBlock/_StatPartialView.cshtml" for="@creature" />
                    <br />
                    <br />
                }
            </div>
        }
    </div>
    @if (Model.diff != null)
    {
        <span>The difficulty is @Model.diff</span>
    }

<form asp-controller="Encounter" asp-action="CalcDiff" method="post">
    @foreach (Creature creature in Model.encounter.Creatures)
    {
        if (creature.GetType() == typeof(PlayerCharacter))
        {
            Model.PlayerCharacters.Add(creature as PlayerCharacter);
            int index = Model.PlayerCharacters.IndexOf(Model.PlayerCharacters.Last());
            <!--Creature Fields-->
            <input hidden asp-for="PlayerCharacters[index].Id" value="@Model.PlayerCharacters[index].Id" />
            <input hidden asp-for="PlayerCharacters[index].accountId" value="@Model.PlayerCharacters[index].accountId" />
            <input hidden asp-for="PlayerCharacters[index].Name" value="@Model.PlayerCharacters[index].Name" />
            <input hidden asp-for="PlayerCharacters[index].MaxHP" value="@Model.PlayerCharacters[index].MaxHP" />
            <input hidden asp-for="PlayerCharacters[index].CurrentHP" value="@Model.PlayerCharacters[index].CurrentHP" />
            <input hidden asp-for="PlayerCharacters[index].AC" value="@Model.PlayerCharacters[index].AC" />
            for (int i = 0; i < 6; i++)
            {
                <input hidden asp-for="PlayerCharacters[index].Attributes[i]" value="@Model.PlayerCharacters[index].Attributes[i]" />
            }

            <!--PC Fields-->
            <input hidden asp-for="PlayerCharacters[index].Player" value="@Model.PlayerCharacters[index].Player" />
            <input hidden asp-for="PlayerCharacters[index].Class" value="@Model.PlayerCharacters[index].Class" />
            <input hidden asp-for="PlayerCharacters[index].Level" value="@Model.PlayerCharacters[index].Level" />
            <input hidden asp-for="PlayerCharacters[index].exp" value="@Model.PlayerCharacters[index].exp" />
        }
        else
        {
            Model.StatBlocks.Add(creature as StatBlock);
            int index = Model.StatBlocks.IndexOf(Model.StatBlocks.Last());
            <!--Creature Fields-->
            <input hidden asp-for="StatBlocks[index].Id" value="@Model.StatBlocks[index].Id" />
            <input hidden asp-for="StatBlocks[index].accountId" value="@Model.StatBlocks[index].accountId" />
            <input hidden asp-for="StatBlocks[index].Name" value="@Model.StatBlocks[index].Name" />
            <input hidden asp-for="StatBlocks[index].MaxHP" value="@Model.StatBlocks[index].MaxHP" />
            <input hidden asp-for="StatBlocks[index].CurrentHP" value="@Model.StatBlocks[index].CurrentHP" />
            <input hidden asp-for="StatBlocks[index].AC" value="@Model.StatBlocks[index].AC" />
            for (int i = 0; i < 6; i++)
            {
                <input hidden asp-for="StatBlocks[index].Attributes[i]" value="@Model.StatBlocks[index].Attributes[i]" />
            }

            <!--SB Fields-->
            <input hidden asp-for="StatBlocks[index].CR" value="@Model.StatBlocks[index].CR" />
        }
    }
    <input type="submit" value="Calculate Difficulty" />
</form>
    @*<button type="button" asp-action="CalcDiff">Calculate Difficulty</button>*@
</div>