@model EncounterPage
@{
    ViewData["Title"] = "Encounter";
    int sbIndex = 0;
    int pcIndex = 0;
}

@functions{

}

<div class="container">
    <h1>Encounter</h1>
    <h2>@Model.encounter.encounterName</h2>
    <div class="row">
        @foreach (Creature creature in Model.encounter.Creatures)
        {
            <div class="col-4">
                @if (creature.GetType() == typeof(PlayerCharacter))
                {
                    <partial name="/Views/PlayerCharacter/_CharacterPartialView.cshtml" for="@creature" />
                    <br />
                    <br />
                }
                else
                {
                    <partial name="/Views/StatBlock/_StatPartialView.cshtml" for="@creature" />
                    <br />
                    <br />
                }
            </div>
        }
    </div>
    @if (Model.diff != null)
    {
        <span>The difficulty is @Model.diff</span>
    }

<form asp-controller="Encounter" asp-action="CalcDiff" method="post">
    @foreach (Creature creature in Model.encounter.Creatures)
    {
        if (creature.GetType() == typeof(PlayerCharacter))
        {
            
            Model.PlayerCharacters.Add(creature as PlayerCharacter);
            <!--Creature Fields-->
            <input hidden asp-for="PlayerCharacters[pcIndex].Id" value="@Model.PlayerCharacters[pcIndex].Id" />
            <input hidden asp-for="PlayerCharacters[pcIndex].accountId" value="@Model.PlayerCharacters[pcIndex].accountId" />
            <input hidden asp-for="PlayerCharacters[pcIndex].Name" value="@Model.PlayerCharacters[pcIndex].Name" />
            <input hidden asp-for="PlayerCharacters[pcIndex].MaxHP" value="@Model.PlayerCharacters[pcIndex].MaxHP" />
            <input hidden asp-for="PlayerCharacters[pcIndex].CurrentHP" value="@Model.PlayerCharacters[pcIndex].CurrentHP" />
            <input hidden asp-for="PlayerCharacters[pcIndex].AC" value="@Model.PlayerCharacters[pcIndex].AC" />
            for (int i = 0; i < 6; i++)
            {
                <input hidden asp-for="PlayerCharacters[pcIndex].Attributes[i]" value="@Model.PlayerCharacters[pcIndex].Attributes[i]" />
            }

            <!--PC Fields-->
            <input hidden asp-for="PlayerCharacters[pcIndex].Player" value="@Model.PlayerCharacters[pcIndex].Player" />
            <input hidden asp-for="PlayerCharacters[pcIndex].Class" value="@Model.PlayerCharacters[pcIndex].Class" />
            <input hidden asp-for="PlayerCharacters[pcIndex].Level" value="@Model.PlayerCharacters[pcIndex].Level" />
            <input hidden asp-for="PlayerCharacters[pcIndex].exp" value="@Model.PlayerCharacters[pcIndex].exp" />

            pcIndex++;
        }
        else
        {
            Model.StatBlocks.Add(creature as StatBlock);
            <!--Creature Fields-->
            <input hidden asp-for="StatBlocks[sbIndex].Id" value="@Model.StatBlocks[sbIndex].Id" />
            <input hidden asp-for="StatBlocks[sbIndex].accountId" value="@Model.StatBlocks[sbIndex].accountId" />
            <input hidden asp-for="StatBlocks[sbIndex].Name" value="@Model.StatBlocks[sbIndex].Name" />
            <input hidden asp-for="StatBlocks[sbIndex].MaxHP" value="@Model.StatBlocks[sbIndex].MaxHP" />
            <input hidden asp-for="StatBlocks[sbIndex].CurrentHP" value="@Model.StatBlocks[sbIndex].CurrentHP" />
            <input hidden asp-for="StatBlocks[sbIndex].AC" value="@Model.StatBlocks[sbIndex].AC" />
            for (int i = 0; i < 6; i++)
            {
                <input hidden asp-for="StatBlocks[sbIndex].Attributes[i]" value="@Model.StatBlocks[sbIndex].Attributes[i]" />
            }

            <!--SB Fields-->
            <input hidden asp-for="StatBlocks[sbIndex].CR" value="@Model.StatBlocks[sbIndex].CR" />
            
            sbIndex++;
        }
    }
    <input type="submit" value="Calculate Difficulty" />
</form>
    @*<button type="button" asp-action="CalcDiff">Calculate Difficulty</button>*@
</div>