@model StatBlock

<div class="jumbotron container bg-dark text-white border-green">
    <h1>Name: @Model.Name</h1>
    <h2>Race: @Model.Race</h2>
    <h2>Challenge Rating: @Model.CR.ToString()</h2>
    <h2>Armor Class: @Model.AC.ToString()</h2>
    <h4>Attributes:</h4>
    <div class="row">
        <span class="col">Strength: @Model.Attributes[0] </span>
        <span class="col">Dexterity: @Model.Attributes[1] </span>
        <span class="col">Constitution: @Model.Attributes[2] </span>
        <span class="col">Intelligence: @Model.Attributes[3] </span>
        <span class="col">Wisdom: @Model.Attributes[4] </span>
        <span class="col">Charisma: @Model.Attributes[5] </span>
    </div>
</div>